<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nickgreenway.mount_europa</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/mount_europa.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
